h1{ 
    background-color: rgb(177, 228, 228);
}
div {
    background-color: rgb(180, 151, 207);
}
input {
    background-color: rgb(224, 138, 138);
}
body {
    background-color: rgb(236, 205, 159);
}
span {
    background-color: rgb(185, 234, 142);
}